.top-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    /* background: rgb(221, 203, 203); */
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.top-section>div:nth-child(2) {
    color: red;
}

.top-section>div:nth-child(1):hover,
.top-section>div:nth-child(3):hover,
.top-section>div:nth-child(4):hover {
    color: red;
    transition: 0.2s;
}

.top-section>div i {
    /* background-color: green; */
    width: 22%;
    font-size: 22px;
    padding: 12px;
}

#container {
    width: 400px;
    height: 700px;
    /* border: 2px solid; */
    margin: auto;
    /* overflow: hidden; */
    box-sizing: border-box;
    box-shadow: 0px 1px 22px 1px rgb(192, 189, 189);
    border-radius: 12px;
}

#showresult {
    width: 100%;
    height: 45%;
    background-color: rgb(46, 32, 32);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: end;
    font-size: 5em;
    /* padding: 25px; */
    box-sizing: border-box;
    margin: auto;
}

#showresult input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 25px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 1px;
}

#keyboard>div {
    padding: 15px;
    /* background: red; */
    font-size: 25px;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
    /* background-color: red; */
}

#keyboard>div:last-child {
    border-radius: 50%;
    font-size: 35px;
    width: 65px;
    height: 65px;
    margin-left: 15px;
    box-sizing: border-box;
    background: rgb(255, 0, 0);
    color: #fff;
}

#keyboard>div:nth-child(1),
#keyboard>div:nth-child(2),
#keyboard>div:nth-child(3),
#keyboard>div:nth-child(4),
#keyboard>div:nth-child(8),
#keyboard>div:nth-child(12),
#keyboard>div:nth-child(16),
#keyboard>div:nth-child(17) {
    color: red
}